
*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    
    background-color: #1A1E26;
}

.back{
    background: #1A1E26;
    min-height: 100vh;
    width: 100%;
    color: #fff;
}

nav{
    display: flex;
    align-items: center;  
    padding: 20px 2%;   
    border-bottom: solid #4242424a 1px;
    
}

nav .menu{
    width: 50px;
    margin-right: 20px;
    cursor: pointer;
}

nav .logo{
    left: -40px;
    width: 90px;
    cursor: pointer;
    margin-right: 40px;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #b31646; 
    font-size: x-large;
    background-color:#1A1E26;
    border: solid 2px #b31646;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    transition-duration: 0.4s;
}

nav ul li a:hover{
    background-color:#b31646;
    color:#B7B7B7;
}

button{
    background: #B7B7B7;
    height: 35px;
    width: 80px;
    border-radius: 60px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
    margin-left: 20px;
}

button span{
    display: block;
    background: #b31646;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 6%;
    transition: background 0.5s, margin-left 0.5s;
}

.game-container{
    position: absolute;
    top: 25%;
    right: 80%;
    width: 150px;
}

.kratos{
    max-width: 500%;
    transition: opacity 0.5s;
}

.ghost{
    top: 10px;
    max-width: 240%;
    position: absolute;
    left: 150%;
    opacity: 0;
    transition: opacity 0.5s;
}

.text-container{
    max-width: 550px;
    margin-top: 5%;
    margin-left: 50%;
    text-align: center;
    color: #B7B7B7;
}

.text-container h1{
    font-size: 60px;
    font-weight: 400;
}

.text-container a{
    text-decoration: none;
    background-color:#b31646;
    padding: 14px 40px;
    display: inline-block;
    color: #B7B7B7;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 20px;
    border: solid 2px #b31646;
    transition: background 0.5s;
}

.text-container a:hover{
    background-color:#1A1E26;
    color:#b31646;  
}

.control{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.control .line{
    width: 250px;
    height: 4px;
    background: #B7B7B7;
    margin: 0 70px;
    border-radius: 2px;
}

.control .line span{
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background: #b31646;
    display: block;
    transition: margin-left 0.5s;
}

.active{
    background:#b31646;
}

.active span{
    background:#B7B7B7;
    margin-left: 45px;
}

.text-container .text-multi{
    transform: translateY(-660px);
    transition: opacity 0.5s;
    top: auto;
}

.text-container .text-single{
    transition: opacity 0.5s;
}

.text-multi{
    opacity: 0;
}

.on{
    opacity: 1;
}

.off{
    opacity: 0;
}

.activeline span{
    background:#B7B7B7;
    margin-left: 115px;
}

